.card {
    width: 700px;
    padding-left: 250px;
    margin: 60px;
    
}

.content {
   padding-left: 10px;
   margin: 30px;
   flex-direction: column;
}

.content-box {
   margin-top: 10px;
    padding-top: 10px;
}

.button{
    margin-top: 10px;
    padding-top: 10px;
    
 }